body {
  background-color: #eee;
  font-family: Arial !important;
  min-width: 350px;

  .complete {
    background-color: white;
    border: none;
    color: #555;
    padding: 10px 15px;
    font-family: 16px;
    width: 49%;
    border: 1px solid #A9A9A9;
    margin-top: 5px;
    border-radius: 3px;
    display: inline-block;
  }

  .remove {
    background-color: red;
    color: white;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    font-family: 16px;
    width: 49%;
    margin-top: 5px;
    border-radius: 3px;
  }
}
