body {
  background-color: #eee;
  font-family: Arial;
  min-width: 350px;

  .complete {
    background-color: white;
    border: none;
    color: #555;
    padding: 10px 15px;
    font-family: 16px;
    margin-top: 5px;
    border-radius: 3px;
  }
}
