body {
  background-color: #eee;
  font-family: Arial !important;
  min-width: 350px;

  .button-container {
    width: 100%;
    display: block;
  }

  .line {
    font-size: 13px;
    display: block;
    clear: both;
    margin: 10px 0;
    padding: 10px 0;

    span {
      float: left;
      display: inline-block;
    }

    .import {
      text-transform: uppercase;
      background-color: transparent;
      border: 0px;
      color: #2196F3;
      display: inline-block;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }

    button {
      text-transform: uppercase;
      background-color: transparent;
      border: 0px;
      color: #2196F3;
      float: right;
      display: inline-block;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  .url-bar {
    padding: 5px;
    width: 90%;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 2px;
    border: 1px;
    font-size: 16px;
    box-shadow: 0 1px 0 #DADADA;
    outline: none;
  }
}

.settings {
  background-image: url(../images/settings.svg);
  background-size: 23px;
  padding: 5px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  left: 3px;

  &:hover {
    cursor: pointer !important;
    border: 1px solid grey;
    border-radius: 3px;
  }
}

.settings-container {
  display: none;
}

textarea {
  cursor: text;
}

.CodeMirror.cm-s-dope {
  box-shadow: inset 0 4px 12px rgba(0,0,0,.15);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}

.cm-s-dope.CodeMirror {
  max-width: 350px;
}

.hidden {
  display: none;
}

.pull-right {
  float: right;
  display: inline-block;
}
