body {
  background-color: #EEEEEE;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

li {
  list-style: none;
}

pre {
  background-color: white;
  padding: 10px;
}


.url-bar {
  padding: 5px;
  width: 100%;
  display: inline-block;
  margin-bottom: 6px;
  border-radius: 2px;
  border: 1px;
  font-size: 16px;
  box-shadow: 0 1px 0 #DADADA;
  outline: none;
}
