h1 {
  text-align: center;
}
.container {
  .list {
    float: left;
    display: block;
    width: 100%;
    li {
      display: inline-block;
      float: left;
      list-style: none;
      margin-right: 20px;
      border: 1px solid grey;
      border-radius: 3px;
      margin-top: 15px;
      div {
        border-top: 1px solid grey;
        padding: 5px;
      }
      span {
        display: inline-block;
      }
      button {
        display: inline-block;
        float: right;
      }
    }
  }
}
body {
  background-color: #eee;
}
.installed {
  max-width: 600px;
  margin: 30px auto 0;
  li {
    list-style: none;
  }
  pre {
    overflow: scroll;
    background-color: white;
    padding: 10px;
  }
  .url-bar {
    padding: 5px;
    width: 100%;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 2px;
    border: 1px;
    font-size: 16px;
    box-shadow: 0 1px 0 #dadada;
    outline: none;
  }
  .title-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
  }
  .pull-left {
    float: left;
  }
  .remove-bttn {
    float: right;
    position: relative;
    margin-top: 20px;
    background: transparent;
    border: 0;
    color: #ef5350;
    font-size: 15px;
  }
}
.hidden {
  display: none;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
