html, body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-family: Arial;
  color: #333;
  height: 100%;
  width: 100%;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}

.text-center {
  text-align: center;
}

.card-container {
  width: 100%;
  max-width: 450px;
  margin: 16px auto 0;
}

.card {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  margin: 20px auto;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.35s;
}

.xbttn {
  font-size: 12px;
  background: transparent;
  border: 0px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.swoosh-out {
  animation-duration: 0.35s;
  animation-name: swoosh;
  animation-fill-mode: forwards;
}

@keyframes swoosh {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
