<html>
  <head>
    <title>Import CustomCSS</title>
    <link rel="stylesheet" href="../bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../css/cm-dope.css">
    <script src="../bower_components/codemirror/lib/codemirror.js"></script>
    <script src="../bower_components/codemirror/mode/css/css.js"></script>
    <link rel="stylesheet" href="../css/export.css">
  </head>
  <body>
    <div class="container">
      <input type="text" placeholder="url" class="url-bar">
      <textarea></textarea>
      <button>Save</button>
    </div>
    <script src="../js/import.js"></script>
  </body>
</html>
