<html>
  <head>
    <title>Veneer Themes</title>
    <link rel="stylesheet" href="../css/themes.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Veneer Themes</h1>
        <ul class="list">

        </ul>
      </div>
      <div class="row">
        <h1>Your Themes</h1>
        <div class="line">
          <label for="file" class="center import">Import Theme</label>
          <input type="file" class="hidden" id="file">
        </div>
        <ul class="installed">

        </ul>
      </div>
    </div>

    <script src="../js/themes.js"></script>
    <script src="../js/export.js"></script>
  </body>
</html>
